<html xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Fantastic Blog</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <a href="/home"><h1>Fantastic Blog</h1></a>
        <hr>

        <div th:each="post:${posts}">
            <h2 th:text="${post.getTitle()}"></h2>
            <p th:text="${post.getContent()}"></p>
            <span th:each="tag:${post.getTags()}">
                <a th:href="'/home?tag=' + ${tag.getId()}" th:text="${tag.getName()}"></a>
            </span>
            <hr>
        </div>

        <!-- <h2>post 1</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, enim quidem! Reprehenderit recusandae quaerat praesentium fuga delectus est, quam quod. Nemo culpa in cupiditate iusto illum debitis aspernatur illo alias?</p>
        <a href="home?tag=x">tag1</a>
        <hr>
        <h2>post 2</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, enim quidem! Reprehenderit recusandae quaerat praesentium fuga delectus est, quam quod. Nemo culpa in cupiditate iusto illum debitis aspernatur illo alias?</p>
        <hr>
        <h2>post 3</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, enim quidem! Reprehenderit recusandae quaerat praesentium fuga delectus est, quam quod. Nemo culpa in cupiditate iusto illum debitis aspernatur illo alias?</p> -->
    </body>
</html>